<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Codebusters</title>
</head>

<body>

    <nav class="grey darken-2 z-depth-5">
        <div class="nav-wrapper container">
            <div class="brand-logo center hide-on-large-only">Codebusters</div>
            <a href="/" class="waves-effect btn hoverable black-text hide-on-med-and-down">Home</a>
            {{#if error}}
            <a class="brand-logo center red-text hide-on-med-and-down" id="error">{{error}}</a>
            {{/if}}
            {{#if success}}
            <a class="brand-logo center teal-text hide-on-med-and-down" id="success">{{success}}</a>
            {{/if}}
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {{#unless currentUser}}
                <li><a class="waves-effect modal-trigger btn hoverable black-text" href="#signupModal">Sign Up</a></li>
                <li><a class="waves-effect modal-trigger btn hoverable black-text" href="#loginModal">Login</a></li>
                {{/unless}}
                {{#if currentUser}}
                {{!-- <li><a class="teal-text">Logged in as {{currentUser.fullname}}</a></li> --}}
                <li><a class="waves-effect btn hoverable black-text" href="/users/logout">Logout</a></li>
                {{/if}}
            </ul>
        </div>
        <a class="teal-text right">Logged in as {{currentUser.fullname}}</a>
    </nav>

    {{!-- Sidenav --}}
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/" class="waves-effect">Home</a></li>
        {{#unless currentUser}}
        <li><a class="waves-effect modal-trigger" href="#signupModal">Sign Up</a></li>
        <li><a class="waves-effect modal-trigger" href="#loginModal">Login</a></li>
        {{/unless}}
        {{#if currentUser}}
        <li><a class="waves-effect" href="/users/logout">Logout</a></li>
        <li><a class="waves-effect">Logged in as {{currentUser.fullname}}</a></li>
        {{/if}}
    </ul>

    <!-- Signup Modal Structure -->
    <div id="signupModal" class="modal">
        <div class="modal-content">
            <h4 class="center">Sign Up To Start Coding</h4>
            <h6 class="center">Your information will be shared with anyone</h6>
            <br>
            <div class="row">
                <form action="/users/register" method="POST" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">face</i>
                            <input name="fullname" type="text" class="validate">
                            <label for="fullname">Fullname</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input name="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="icon_telephone" name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <input type="button" class="btn waves-effect modal-close right" value="Close">
                    <input type="submit" class="btn waves-effect right" value="Sign Up">
                </form>
            </div>
        </div>
    </div>

    <!-- Login Modal Structure -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <h4 class="center">Login</h4>
            <h6 class="center">Secure Connection</h6>
            <br>
            <div class="row">
                <form action="/users/login" method="POST" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input name="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <input type="button" class="btn waves-effect modal-close right" value="Close">
                    <input type="submit" class="btn waves-effect right" value="Login">
                </form>
            </div>
        </div>
    </div>

    <div class="content">

        {{{body}}}

    </div>

    <div class="footer teal-text">
        © Copyright 2018 Codebusters
    </div>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>