<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

    <link rel="stylesheet" href="/css/style.css">
    <title>Codebusters</title>
</head>

<body>

    <nav class="grey darken-2">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo waves-effect">Home</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {{#unless currentUser}}
                <li><a class="waves-effect modal-trigger" href="#signupModal">Sign Up</a></li>
                <li><a class="waves-effect modal-trigger" href="#loginModal">Login</a></li>
                {{/unless}}
                {{#if currentUser}}
                <li><a class="waves-effect" href="/users/logout">Logout</a></li>
                <li>Logged in as {{currentUser.fullname}}</li>
                {{/if}}
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/" class="waves-effect">Home</a></li>
        {{#unless currentUser}}
        <li><a class="waves-effect modal-trigger" href="#signupModal">Sign Up</a></li>
        <li><a class="waves-effect modal-trigger" href="#loginModal">Login</a></li>
        {{/unless}}
        {{#if currentUser}}
        <li><a class="waves-effect" href="/users/logout">Logout</a></li>
        <li>Logged in as {{currentUser.fullname}}</li>
        {{/if}}
    </ul>

    <!-- Signup Modal Structure -->
    <div id="signupModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 class="center">Sign Up To Start Coding</h4>
            <h6 class="center">Your information will be shared with anyone</h6>
            <br>
            <div class="row">
                <form action="/users/register" method="POST" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" name="fullname" type="text" class="validate">
                            <label for="icon_prefix">Fullname</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" name="username" type="text" class="validate">
                            <label for="icon_prefix">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">phone</i>
                            <input id="icon_telephone" name="password" type="password" class="validate">
                            <label for="icon_telephone">Password</label>
                        </div>
                    </div>
                    <input type="button" class="btn waves-effect modal-close right" value="Close">
                    <input type="submit" class="btn waves-effect right" id="signup" value="Sign Up">
                </form>
            </div>
        </div>
    </div>

    <!-- Login Modal Structure -->
    <div id="loginModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 class="center">Login</h4>
            <h6 class="center">Secure Connection</h6>
            <br>
            <div class="row">
                <form action="/users/login" method="POST" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" name="username" type="text" class="validate">
                            <label for="icon_prefix">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">phone</i>
                            <input id="icon_telephone" name="password" type="password" class="validate">
                            <label for="icon_telephone">Password</label>
                        </div>
                    </div>
                    <input type="button" class="btn waves-effect modal-close right" value="Close">
                    <input type="submit" class="btn waves-effect right" id="signup" value="Login">
                </form>
            </div>
        </div>
    </div>

    <div class="content">

        {{!-- Flash messages --}}
        <div class="container">
            {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {{/if}}
            {{#if success}}
            <div class="alert alert-success" role="alert">
                {{success}}
            </div>
            {{/if}}
        </div>

        {{{body}}}

    </div>

    <div class="footer">
        © Copyright 2018 Codebusters
    </div>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>